<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css



"
		/>
		<link rel="stylesheet" href="style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js"
			type="application/javascript"
		></script>

		<title>Latex Care</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
				style="background-color: rgba(230, 230, 230, 0.329)"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- <img class="bearBrand ml-5" src="/navBear.svg"></img> -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item">
						<a class="nav-link" href="/"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/#section1">Gallery</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="https://www.etsy.com/shop/Gummybeargangbang"
							>Etsy Shop</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/latexCare">Latex Care</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/#about">About</a>
					</li>
				</ul>
			</div>
		</nav>

		<img
			style="
				border-bottom: 4px solid black;
				filter: brightness(80%) contrast(150%);
			"
			src="https://i.etsystatic.com/isbl/1982e3/44013612/isbl_1680x420.44013612_e2p98y4p.jpg?version=1"
			class="latexCareImg"
			alt=""
		/>
		<div class="row justify-content-center" id="latexCare">
			<div class="col-lg-10 col-sm-12 aboutSection">
				<h3 class="ml-5 shopNow">Latex Care</h3>
				<ul class="mt-5 latexCare" style="color: rgb(0, 0, 0)">
					<li>
						Powder or silicone oil are your friends when getting
						dressed in latex. Apply a good amount to the body and
						the inside of the garment and you’ll slide right in!
						Talcum powder can help absorb sweat and help you feel
						fresher in your latex for longer.
					</li>
					<br />
					<li>
						Sweat, dirt, perfume and body oils might weaken your
						latex, remember to wash it after use! Hand wash in warm
						soapy (basic, no additives) water. Rinse with clear
						water and hang dry or towel dry. We recommend doing it
						in the shower or in the bath tub.
					</li>
					<br />
					<li>
						Direct sunlight might damage and stain your latex. Don’t
						leave your latex in the sun. Store your latex in a dark
						spot, ideally in garment bags or airlock bags. To
						prevent your latex to stick to itself use talcum powder
						when storing.
					</li>
					<br />
					<li>
						Dark latex garments can stain lighter coloured garments.
						Store darker garments separately from lighter garments.
						Lighter coloured latex is more sensitive to light, sweat
						and oils than darker garments, make sure to clean it
						often.
					</li>
					<br />
					<li>
						To polish your garment, use a lint free cloth and a
						tablespoon of latex polish. Don’t use mineral oils, baby
						oil, vaseline or other type of oils on latex as it will
						damage the material. Apply the shine several times when
						wearing the garments for an extended period of time.
					</li>
					<br />
					<li>
						Metal will damage your latex garments: wearing jewelery,
						carrying coins and not protecting metal hardware on
						latex will stain or damage the material. Don’t store
						your latex on metal hangers. Wood or plastic are ok. You
						can protect latex from metal hardware (zipper, studs...)
						with tissue paper.
					</li>
					<br />
					<li>
						Remember to feel fantastic and sexy in your new latex
						purchase! Have fun and feel the fantasy!
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
